@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4 text-white">Gerencie suas tarefas de uma forma mais otimizada</h4>
    <a asp-controller="Tasks" asp-action="Index" class="btn btn-warning">Lista de tarefas</a>
</div>
