* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #111111 !important;
}

main {
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282828;
    height: 100%;
    border-radius: 0 5px 5px 0;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content {
    padding: 30px;
}

#logo {
    text-align: center;
    margin-bottom: 30px;
}

#logo h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: #C9A652;
    font-size: 30px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.side-item {
    border-radius: 5px;
    padding: 14px;
    cursor: pointer;
    transition: all .5s
}

.side-item:hover {
    background-color: #C9A652;
}

.side-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -12px;
    background-color: #282828;
    border-radius: 100%;
    border: none;
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header-content {
        display: block !important;
        text-align: center;
        margin-bottom: 10px;
    }

    #sidebar {
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        height: 100%
    }

    #open_btn {
        right: -30px;
    }

    #sidebar.open-sidebar {
        width: 100%;
        transform: translateX(0);
    }
}


